# CSE 283 Project

In [1]:
import numpy as np
import pandas as pd

In [48]:
from sklearn.svm import SVC
from sklearn.decomposition import PCA

In [15]:
# norm = pd.read_csv("data/GSE131512_normalTPM.txt.gz", sep='\t')
# print(norm.shape)
# norm.head()

In [16]:
# cancer = pd.read_csv("data/GSE131512_cancerTPM.txt.gz", sep='\t')
# print(cancer.shape)
# cancer.head()

In [17]:
# C1-C28: recurrence samples; C29-C96: non-recurrence samples
df = pd.read_csv("GSE131512_cancerTPM.txt.gz", sep='\t')
print(df.shape)
df.head()

(60675, 96)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
ENSG00000000003,7.071605,60.610797,58.255903,29.917356,24.500322,25.311091,37.394452,15.354658,24.839014,24.591295,...,14.134044,10.803910,6.068982,12.714350,15.983392,0.000000,38.189128,15.608352,51.519267,30.805593
ENSG00000000005,13.279391,47.424080,60.455497,6.482332,53.675826,31.686900,32.409716,0.000000,48.976056,46.178684,...,0.000000,12.172853,136.759411,28.650721,0.000000,0.000000,5.976111,6.280734,241.863225,0.000000
ENSG00000000419,0.000000,0.000000,23.040206,8.646690,20.456404,42.266702,21.615428,11.538256,18.665274,76.996356,...,79.657691,8.118597,0.000000,0.000000,0.000000,179.178412,15.942897,0.000000,0.000000,0.000000
ENSG00000000457,6.212355,2.218590,12.120963,6.065120,16.142519,37.059356,7.580945,0.000000,0.000000,21.603278,...,18.624986,15.660412,33.988677,0.000000,36.858404,83.788404,18.172309,2.938248,14.547636,10.148436
ENSG00000000460,34.038592,35.828348,55.926653,10.494273,14.482668,19.236768,13.117055,4.667898,18.877984,12.459809,...,17.903438,19.706680,23.062537,1.932615,28.344382,3.020339,27.411791,1.694651,3.729079,7.804221

In [26]:
# output Ensembl IDs
df.to_csv("ensembl.id.txt", columns=[], header=False)

Upload the list of Ensembl IDs to Ensembl Biomart for query.

In [40]:
# load biomart query results
ens = pd.read_csv("mart_export.txt", sep='\t', header=0)
print(ens.shape)
ens.head()

(222703, 5)

    Gene stable ID       Gene type Transcript type Gene name Transcript name
0  ENSG00000092377  protein_coding  protein_coding     TBL1Y       TBL1Y-203
1  ENSG00000092377  protein_coding  protein_coding     TBL1Y       TBL1Y-202
2  ENSG00000092377  protein_coding  protein_coding     TBL1Y       TBL1Y-201
3  ENSG00000092377  protein_coding  protein_coding     TBL1Y       TBL1Y-204
4  ENSG00000099715  protein_coding  protein_coding   PCDH11Y     PCDH11Y-202

In [45]:
ens = ens.drop_duplicates(subset=['Gene stable ID', 'Gene type', 'Gene name'])
print(ens.shape)
ens.head()

(56742, 5)

,Gene stable ID,Gene type,Transcript type,Gene name,Transcript name
0,ENSG00000092377,protein_coding,protein_coding,TBL1Y,TBL1Y-203
4,ENSG00000099715,protein_coding,protein_coding,PCDH11Y,PCDH11Y-202
11,ENSG00000012817,protein_coding,retained_intron,KDM5D,KDM5D-206
21,ENSG00000099725,transcribed_unitary_pseudogene,processed_transcript,PRKY,PRKY-203
25,ENSG00000099721,protein_coding,protein_coding,AMELY,AMELY-203

In [64]:
# group biotypes
ens.loc[ens['Gene type'].apply(lambda x: 'TR_' in x and '_gene' in x), ['Gene type']] = 'TR_gene'
ens.loc[ens['Gene type'].apply(lambda x: 'TR_' in x and '_pseudogene' in x), ['Gene type']] = 'TR_pseudogene'
ens.loc[ens['Gene type'].apply(lambda x: 'IG_' in x and '_gene' in x), ['Gene type']] = 'IG_gene'
ens.loc[ens['Gene type'].apply(lambda x: 'IG_' in x and '_pseudogene' in x), ['Gene type']] = 'IG_pseudogene'

In [95]:
biotypes = ens['Gene type'].unique()
biotypes = np.delete(biotypes, biotypes == 'TEC')  # remove TEC
biotypes, len(biotypes)

(array(['protein_coding', 'transcribed_unitary_pseudogene',
        'transcribed_unprocessed_pseudogene', 'lncRNA',
        'processed_pseudogene', 'unprocessed_pseudogene',
        'polymorphic_pseudogene', 'transcribed_processed_pseudogene',
        'unitary_pseudogene', 'IG_pseudogene', 'Mt_tRNA', 'Mt_rRNA',
        'IG_gene', 'snRNA', 'misc_RNA', 'snoRNA', 'miRNA',
        'rRNA_pseudogene', 'TR_gene', 'TR_pseudogene', 'rRNA', 'ribozyme',
        'scaRNA', 'translated_processed_pseudogene', 'scRNA', 'pseudogene',
        'sRNA', 'vault_RNA', 'translated_unprocessed_pseudogene'],
       dtype=object),
 29)

In [96]:
n_genes = np.zeros_like(biotypes, dtype=int)
for i in range(len(biotypes)):
    n_genes[i] = ens[ens['Gene type'] == biotypes[i]].shape[0]
n_genes, np.sum(n_genes)

(array([19603,   130,   864, 14164, 10107,  2466,    44,   493,    72,
          193,    22,     2,   214,  1882,  2216,   939,  1447,   490,
          195,    37,    48,     8,    49,     1,     1,    19,     2,
            1,     1]),
 55710)

In [97]:
np.sort(n_genes)[::-1]

array([19603, 14164, 10107,  2466,  2216,  1882,  1447,   939,   864,
         493,   490,   214,   195,   193,   130,    72,    49,    48,
          44,    37,    22,    19,     8,     2,     2,     1,     1,
           1,     1])

In [99]:
n_genes[biotypes == 'lncRNA'][0]

14164

In [100]:
biotypes[n_genes > 20], len(biotypes[n_genes > 20])

(array(['protein_coding', 'transcribed_unitary_pseudogene',
        'transcribed_unprocessed_pseudogene', 'lncRNA',
        'processed_pseudogene', 'unprocessed_pseudogene',
        'polymorphic_pseudogene', 'transcribed_processed_pseudogene',
        'unitary_pseudogene', 'IG_pseudogene', 'Mt_tRNA', 'IG_gene',
        'snRNA', 'misc_RNA', 'snoRNA', 'miRNA', 'rRNA_pseudogene',
        'TR_gene', 'TR_pseudogene', 'rRNA', 'scaRNA'], dtype=object),
 21)

In [93]:
# These genes are no longer in the Ensembl database...
df.loc[~df.index.isin(ens['Gene stable ID']),]

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
ENSG00000069712,14.078019,3.351746,39.675578,27.488730,24.387392,33.592565,22.905901,30.567767,42.031690,61.194865,...,77.378926,2.150822,72.492093,5.062298,7.954860,0.000000,31.677585,4.438974,12.209952,45.995401
ENSG00000116883,23.264221,0.000000,0.000000,5.678212,0.000000,0.000000,0.000000,0.000000,42.900680,0.000000,...,0.000000,26.657091,0.000000,0.000000,0.000000,0.000000,31.408722,0.000000,60.531601,12.668060
ENSG00000116957,37.464636,59.464773,43.317022,36.576710,105.763115,19.866008,15.239382,27.115800,35.091878,50.665281,...,29.120277,22.895203,0.000000,0.000000,18.817415,14.036107,3.746705,35.439189,0.000000,0.000000
ENSG00000122718,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000130201,0.000000,0.000000,0.000000,6.050176,7.156777,22.180830,7.562267,8.073435,0.000000,0.000000,...,6.193033,0.000000,0.000000,6.685168,0.000000,0.000000,0.000000,23.448074,6.449686,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000283013,2.467092,52.863675,0.000000,7.225863,0.000000,8.830356,3.010596,0.000000,5.199397,12.868858,...,9.861972,4.523031,0.000000,0.000000,8.364261,0.000000,0.000000,0.000000,15.406012,2.686810
ENSG00000283027,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000283029,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000283073,0.000000,0.000000,0.000000,6.018774,56.957047,0.000000,0.000000,0.000000,0.000000,32.157302,...,0.000000,0.000000,15.872452,0.000000,0.000000,114.328709,5.548753,0.000000,0.000000,0.000000
ENSG00000283088,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [104]:
biot = 'protein_coding'
df_sel = df.loc[ens[ens['Gene type'] == biot]['Gene stable ID'],]
df_sel.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
ENSG00000092377,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000099715,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000012817,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000099721,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000067646,1.934125,0.0,2.515789,0.0,0.0,0.0,0.0,0.0,10.190422,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
pca = PCA(n_components=0.95, whiten=True).fit(df_sel.transpose())
pca

PCA(n_components=0.95, whiten=True)

In [118]:
pca.explained_variance_, pca.explained_variance_ratio_

(array([2.64880625e+08, 5.07399471e+07, 3.39592287e+06]),
 array([0.79514424, 0.15231607, 0.01019421]))

In [117]:
proj = pca.transform(df_sel.transpose())
proj.shape

(96, 3)